canvas{
  background-color: #202833;
}
body{
    background-color: #202833;
}
#time{
    position: absolute;
    top: 47%;
    left: 47%;
    font-size: 1.5vw;
    color: #F0F0F0;
    font-style: "Arial"
}
